form {
    background-color: #e1e3eb;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 230px;
    padding-bottom: 187px;
    background-image: url(./../image/login/background.jpg);
}

input {
   
 
    
    padding-left: 30px;
}

.a {
    padding-top: 130px;
    padding-left: 30px;
}

.a2 {
    padding-top: 200px;
    padding-left: 30px;
}

.a3 {
    padding-top: 270px;
    padding-left: 30px;
}

.a4 {
    padding-top: 330px;
    padding-left: 30px;
}

#btn {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(209, 18, 18);
    color: white;
    font-size: 25px;
    border: none;
}

#btn:hover {
    background-color: rgb(44, 26, 19);
}